.DS_Store
node_modules
/dist
output.json
/.serverless
/.webpack 

# local env files
.env.local
.env.*.local

# tsc build files
*.js
*.js.map
!.eslintrc.js
*.d.ts

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
